<h1>Listando Usuários</h1>
<table class="table">
    <%= for user <- @users do %>
        <tr>
            <td><b><%= first_name(user) %></b> (<%= user.id %>)</td>
            <td><a href="/users/<%= user.id %>">View</a></td>
        </tr>
    <% end %>
</table>